<div ng-controller="main">
  <div class="listing">
    <div class="row item" ng-repeat="item in listing.data.children track by $index">
      <div class="col-xs-12">
        <div class="col-xs-1 col-sm-1">{{ $index + 1 }}</div>
        <div class="col-xs-3 col-sm-1">{{item.data.ups}}</div>
        <div class="col-xs-8 col-sm-2"><img src="{{item.data.thumbnail}}"></div>
        <div class="col-xs-12 col-sm-8">
          <h5>{{item.data.title}}</h5>
          <h6>submitted {{item.data.difference}} by <a href="https://www.reddit.com/user/{{item.data.author}}">{{item.data.author}}</a> to <a href="https://www.reddit.com/{{item.data.subreddit_name_prefixed}}">{{item.data.subreddit_name_prefixed}}</a></h6>
          <span>{{item.data.num_comments}} comments</span>
        </div>
      </div>
    </div>
  </div>
</div>

